{{ define "meta" }}
{{ $aboutDescription := "Portfoli.go is an open source, simple and flexible portfolio template written with Go. Find out more on https://github.com/bossm8/portfoli.go" }}
<meta name="description" content="{{ $aboutDescription }}">
<meta property="og:description" content="{{ $aboutDescription }}">
<meta name="twitter:description" content="{{ $aboutDescription }}">
{{ end }}
{{ define "content" }}
<div class="text-center mt-5 mb-4">
    <img src='{{ "static/img/portfoli.go-yellow.svg" | Assemble }}' class="about-logo" alt="">
</div>
<div class="text-center mb-5">
    <div class="display-5 mb-4"><strong>Porfoli.go</strong></div>
    <div class="display-6">
        The Simple and Flexible Porfolio Template Written with
        <a href="https://golang.org" class="link-secondary text-decoration-none" target="_blank">Go</a>
    </div>
    <div class="my-5 fs-4">
        Hey, I'm <a href="https://bossm8.ch" class="link-primary text-decoration-none" target="_blank">@bossm8</a>,
        I created this customizable porfolio template.
    </div>
    <div class="my-4 fs-5">
        The best part? It's completely Open Source and free to use!
    </div>
    <div class="fs-6 mt-5">
        If you also want a portfolio like this, head to the documentation.
    </div>
    <div class="my-5 fs-6">
        <a class="btn btn-primary btn-lg" href="https://github.com/bossm8/portfoli.go" target="_blank">
            Take me there!<i class="bi-github ms-2"></i>
        </a>
    </div>
</div>
{{ end }}