{{ define "content" }}
<div class="row d-flex mb-5 h-100 align-items-center">
    <div class="col-12 justify-content-center text-center">
        <div class="display-5 mb-4"><strong>GoFolio</strong></div>
        <div class="display-6">The Simple Porfolio Template Written in Go</div>
        <div class="my-5 fs-4">
            Hey, I'm <a href="https://bossm8.ch" class="link-primary text-decoration-none" target="_blank">@bossm8</a>,
            I created this customizable porfolio template.
        </div>
        <div class="my-4 fs-5">
            The best part? It's completely Open Source and free to use!
        </div>
        <div class="fs-6 mt-5">
            Do you want to create a portfolio like this one?
        </div>
        <div class="my-5 fs-6">
            <a class="btn btn-primary btn-lg" href="https://github.com/bossm8/gofolio" target="_blank">
                Yess pleease!<i class="bi-github ms-2"></i>
            </a>
        </div>
    </div>
</div>
{{ end }}