{{ define "content" }}
<div class="row justify-content-center mt-5 mb-4">
    <div class="col col-6 col-sm-5 col-md-4 col-lg-3 col-xl-2">
        <img src='{{ "static/img/portfoli.go-yellow.svg" | Assemble }}' class="img-fluid" alt="">
    </div>
</div>
<div class="row d-flex mb-5 h-100">
    <div class="col-12 justify-content-center text-center">
        <div class="display-5 mb-4"><strong>Porfoli.go</strong></div>
        <div class="display-6">
            The Simple and Flexible Porfolio Template Written with 
            <a href="https://golang.org" class="text-decoration-none link-secondary" target="_blank">Go</a> and 
            <a href="https://getbootstrap.com" class="text-decoration-none link-secondary" target="_blank">Bootstrap</a>
        </div>
        <div class="my-5 fs-4">
            Hey, I'm <a href="https://bossm8.ch" class="link-primary text-decoration-none" target="_blank">@bossm8</a>,
            I created this customizable porfolio template.
        </div>
        <div class="my-4 fs-5">
            The best part? It's completely Open Source and free to use!
        </div>
        <div class="fs-6 mt-5">
            If you also want a portfolio like this, head to the documentation.
        </div>
        <div class="my-5 fs-6">
            <a class="btn btn-primary btn-lg" href="https://github.com/bossm8/portfoligo" target="_blank">
                Take me there!<i class="bi-github ms-2"></i>
            </a>
        </div>
    </div>
</div>
{{ end }}