{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Profile.BrandName }} - {{ template "title" . }}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-icons.css">
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <div class="col align-middle">
                    <a class="navbar-brand float-start align-middle" href="/">
                        <i class="bi-8-circle me-1"></i>
                        {{ .Profile.BrandName }}
                    </a>
                </div>
                <div class="col align-middle">
                    <button class="navbar-toggler d-lg-none float-end" 
                            type="button" 
                            data-bs-toggle="collapse" data-bs-target="#nav-collapse" 
                            aria-controls="nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="bi-list"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="nav-collapse">
                    <div class="ms-auto float-end text-end">
                    <ul class="navbar-nav mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/experience">Experience</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Projects</a>
                        </li>
                        {{ if .RenderContact }}
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        {{ end }}
                    </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <body>
        {{ template "header" . }}
        <div class="container" style="padding-top: 75px">
            {{ template "content" . }}
        </div>
        <script src="/static/js/bootstrap.min.js"></script>
        {{ template "scripts" . }}
    </body>
</html>
{{ end }}
<!-- define the default templates (if not defined) -->
{{ define "title" }}Much Wow{{ end }}
{{ define "header" }}{{ end }}
{{ define "scripts" }}{{ end }}