{{ define "title" }}Welcome{{ end }}
{{ define "content-header" }}
<div class="text-center bg-image"
     style="background-image: url('/static/img/banner.webp'); background-size: cover;">
     <!-- Default image from https://unsplash.com/photos/xC7Ho08RYF4 thx!-->
      <div class="mask d-flex" style="background-color: rgba(0, 0, 0, 0.4);">
            <div class="container-fluid">
                <div class="row d-flex justify-content-center align-items-center pt-5">
                    <div class="col-12 col-md-6 text-white p-5">
                        <h1 class="mb-3" id="my-name">Hey, I'm <strong>{{ .Profile.FirstName }}</strong></h1>
                        <h4 class="mb-5">{{ .Profile.Slogan }}</h4>
                        {{ $href := "/contact" }}
                        {{ if not .RenderContact }}
                           {{ $href = (printf "mailto:%s" .Profile.Email) }}
                        {{ end }}
                        <a class="mt-2 btn btn-outline-light btn-lg" href="{{ $href }}" role="button">Let's get in Touch!</a>
                    </div>
                    <div class="col-8 col-md-6 col-lg-5 col-xl-4 align-items-center p-5">
                       <div class="square rounded-circle avatar"></div> 
                    </div>
                </div>
            </div>
      </div>
</div>
{{ end }}
{{ define "content" }}
<div class="row">
    <div class="col-12 text-center text-md-start">
        <div class="display-6">
            {{ .Profile.Heading }}
        </div>
        <div class="mt-4">
            {{ .Profile.SubHeading }}
        </div>
    </div>
    <div class="my-4 text-center text-md-start">
       You can find more information about me here:
    </div>
    <div class="col-12 col-md-6 col-lg-auto mb-2 mb-md-0">
        <div class="text-center text-md-start">
            <a class="btn btn-outline-primary" href="/experience">Experience</a>
            <a class="btn btn-outline-primary" href="/education">Education</a>
            <a class="btn btn-outline-primary" href="/projects">Projects</a>
        </div>
    </div>
    <div class="col-12 col-md-auto">
        <div class="text-center text-md-end">
        {{ range $social := .Profile.SocialMedia }}
            <a href="{{ $social.Link }}" class="btn btn-outline-primary" target="_blank">
                <i class="bi-{{ $social.Type }}"></i>
            </a>
        {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ define "scripts" }}
<script type="text/javascript" src="/static/js/index.js"></script>
{{ end }}