{{ define "title" }}Welcome{{ end }}
{{ define "content-header" }}
<div class="hero">
    <div class="container hero__inner">
        <div class="hero__content">
            <h1 id="my-name">Hey, I'm <strong>{{ .Profile.FirstName }}</strong></h1>
            <p class="hero__slogan">{{ .Profile.Slogan }}</p>
            <div class="hero__intro">
                <div>{{ .Profile.Heading }}</div>
                <div class="mt-3">{{ .Profile.SubHeading }}</div>
            </div>
            <div class="hero__actions">
                {{ $href := "" }}
                {{ if .RenderContact }}
                    {{ $href = ( "contact" | Assemble ) }}
                {{ else }}
                    {{ $href = ( print "mailto:" .Profile.Email ) }}
                {{ end }}
                <a class="btn btn-primary btn-lg" href="{{ $href }}" role="button">Let's get in Touch!</a>
                {{ if .Profile.ContentTypes }}
                <div class="explore-links">
                    <span class="explore-links__label">Explore</span>
                    {{ range $content := .Profile.ContentTypes }}
                        <a href="{{ $content | Assemble }}">{{ $content | Title }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        <div class="hero__avatar">
            {{ if .Profile.Avatar }}
                <div class="avatar">
                    <div class="square" style="background-image: url('{{ .Profile.Avatar | Assemble }}');"></div>
                </div>
            {{ else }}
                {{ $img := "/static/img/portfoli.go-yellow.svg"}}
                <div class="avatar">
                    <div class="square default-avatar" style="background-image: url('{{ $img | Assemble }}');"></div>
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ define "content" }}{{ end }}
{{ define "scripts" }}
{{ if .Profile.Animations }}
    <script type="text/javascript" src='{{ "static/js/index.js" | Assemble }}'></script>
{{ end }}
{{ end }}