.square {
    position: relative;
    width: 100%;
    padding-bottom: 100%; 
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover; 
}

.h-30 {
  height: 30%!important;
}

.h-20 {
  height: 20%!important;
}

.h-80 {
  height: 80%!important;
}
.content-card {
  height: 550px;
}

.default-avatar {
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.img-load-error {
  font-size: x-small;
}