{{ define "content" }}
{{ $image := or .Image "/static/img/portfoli.go-yellow.svg" }}
<div class="project-item reveal">
    <div class="project-item__media">
        <img src="{{ $image | Assemble }}" alt="{{ .Name }}" onerror="setDefaultImage(this)"/>
    </div>
    <div class="project-item__body">
        <h3 class="project-item__title">{{ .Name }}</h3>
        {{ if .Description }}<div class="project-item__desc">{{ .Description }}</div>{{ end }}
        {{ if .Link }}
        <a href="{{ .Link }}" class="btn btn-outline-primary" target="_blank">View project <i class="bi-box-arrow-up-right ms-2"></i></a>
        {{ end }}
    </div>
</div>
{{ end }}